.git/
vendor/
node_modules/
public/js/
public/css/
yarn-error.log

.dockerignore
Dockerfile
docker-compose.yml
.env
.env*
ci/
*.pem
server.pid
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
