/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/password-exposed-cache
/vendor
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.*
!.env.example
!.env.testing
.DS_Store
*.sql
output.txt

database/files
database/uploads
*.tar.gz

.idea/

# User-specific stuff
