.logged-in-as {
  margin: 0;
  border-radius: 0;
}

.profile-picture {
  max-height: 90px;
}

.modal-content {
  /* Bootstrap sets the size of the modal in the modal-dialog class, we need to inherit it */
  width: inherit;
  height: inherit;
  /* To center horizontally */
  margin: 0 auto;
}

.vertical-align-center {
  /* To center vertically */
  display: table-cell;
  vertical-align: middle;
}

.vertical-alignment-helper {
  display: table;
  height: 100%;
  width: 100%;
}

.splash-content {
  padding: 10px 0;
}

.splash-user {
  width: 185px;
  float: left;
  text-align: center;
  padding: 0 10px;
}

.btn-splash {
    width: 150px;
    margin-bottom: 8px;
}
