
#content {
  min-height: 700px;
}

#content.site-content table {
  font-size: .9rem;
  line-height: 1.4;
}

#sidebarNav select {
  font-size: .9rem;
  width: 100%;
}

a.img-link {
  border-bottom: 0;
}

.hero-slim {
  background-image: https://static.sustainability.asu.edu/asu-theme/asu-web-standards/img/hero/slim-header.jpg
  height: 70px;
}

.site-content .hero-slim .container {
  padding-top: 0;
}

.footer a.footer-logo-link {
  border: 0;
  text-decoration: none;
}

.widget ul {
  list-style: none;
  padding-left: 0;
}
.widget ul li {
  border: 0;
  border-top: 1px solid #d7d7d7;
  color: #903;
  font-weight: 400;
  list-style: none;
  padding: 10px 5px;
}
.widget ul li a {
  border-bottom: 0;
}




.search-button input[type="submit"] {
    position: absolute;
    top: 5px;
    right: 6px;
    background: transparent url(//www.asu.edu/asuthemes/4.0-rsp.1/images/asu_search_btn.png) 0 0 no-repeat;
    border: 0 none;
    border-radius: 0 0 0 0;
    width: 12px;
    height: 12px;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    font-size: 0.01px;
    line-height: 15px;
    cursor: pointer;
    text-indent: -9999px;
}


th {
  background-color: #fff;
}

.table-responsive table tbody tr.disabled > td {
  background-color: #ccc;
}

.table-responsive table tbody tr > td {
  height: 46px;
}

.table-responsive ul {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.table-responsive ul li {
  border: 0;
  list-style: none;
  padding: 5px 0;
}


.alert a.close,
a.disabled,
a.disabled:active,
a.disabled:hover {
  border-bottom: 0;
}

/* Styling for Sign In/Dashboard navbar button */
.navbar-ws .navbar-nav > li.hover > a {
  background-color: #000;
  color: #ffb310;
}
@media (max-width: 991px) {
  .navbar-ws .navbar-nav > li.hover > a {
    background-color: gainsboro;
    color: inherit;
  }
}
.navbar-ws .navbar-nav > li.open > a {
  background-color: #000;
  color: #ffb310;
}
@media (max-width: 991px) {
  .navbar-ws .navbar-nav > li.open > a {
    background-color: #f0f0f0;
    color: inherit;
  }
}

.navbar-ws .navbar-nav > li > a.btn {
  height: 35px;
  margin: 10px;
  padding: 10px 20px;
}
.navbar-ws .navbar-nav > li > a.btn:hover,
.navbar-ws .navbar-nav > li > a.btn:focus {
  background-color: inherit;
  color: inherit;
}
.navbar-ws .navbar-nav > li > a.btn-primary {
  background-color: #8c1d40;
}
.navbar-ws .navbar-nav > li > a.btn-primary:hover,
.navbar-ws .navbar-nav > li > a.btn-primary:focus,
.navbar-ws .navbar-nav > li > a.btn-primary:active,
.navbar-ws .navbar-nav > li > a.btn-primary.active {
  background-color: #62142d;
  border-color: #591229;
  color: #fff;
}
.navbar-ws .navbar-nav > li > a.btn-gold {
  color: #2a2a2a;
  background-color: #ffc627;
  border-color: #ffc627;
}
.navbar-ws .navbar-nav > li > a.btn-gold:hover,
.navbar-ws .navbar-nav > li > a.btn-gold:focus,
.navbar-ws .navbar-nav > li > a.btn-gold:active,
.navbar-ws .navbar-nav > li > a.btn-gold.active,
.open > .navbar-ws .navbar-nav > li > a.btn-gold.dropdown-toggle {
  background-color: #f3b300;
  border-color: #e9ab00;
  color: #2a2a2a;
}
.navbar-ws .navbar-nav > li > a.btn-gold:active,
.navbar-ws .navbar-nav > li > a.btn-gold.active,
.open > .navbar-ws .navbar-nav > li > a.btn-gold.dropdown-toggle {
  background-image: none;
}
.navbar-ws .navbar-nav > li > a.btn-gold:active:focus,
.navbar-ws .navbar-nav > li > a.btn-gold:active.focus,
.navbar-ws .navbar-nav > li > a.btn-gold:active:hover,
.navbar-ws .navbar-nav > li > a.btn-gold:active.hover,
.navbar-ws .navbar-nav > li > a.btn-gold.active:focus,
.navbar-ws .navbar-nav > li > a.btn-gold.active.focus,
.navbar-ws .navbar-nav > li > a.btn-gold.active:hover,
.navbar-ws .navbar-nav > li > a.btn-gold.active.hover,
.open > .navbar-ws .navbar-nav > li > a.btn-gold.dropdown-toggle:focus,
.open > .navbar-ws .navbar-nav > li > a.btn-gold.dropdown-toggle.focus,
.open > .navbar-ws .navbar-nav > li > a.btn-gold.dropdown-toggle:hover,
.open > .navbar-ws .navbar-nav > li > a.btn-gold.dropdown-toggle.hover {
  background-color: #f3b300;
  border-color: #e9ab00;
  color: #2a2a2a;
}
.navbar-ws .navbar-nav > li > a.btn-gold.disabled,
.navbar-ws .navbar-nav > li > a.btn-gold.disabled:hover,
.navbar-ws .navbar-nav > li > a.btn-gold.disabled:focus,
.navbar-ws .navbar-nav > li > a.btn-gold.disabled:active,
.navbar-ws .navbar-nav > li > a.btn-gold.disabled.active,
.navbar-ws .navbar-nav > li > a.btn-gold[disabled],
.navbar-ws .navbar-nav > li > a.btn-gold[disabled]:hover,
.navbar-ws .navbar-nav > li > a.btn-gold[disabled]:focus,
.navbar-ws .navbar-nav > li > a.btn-gold[disabled]:active,
.navbar-ws .navbar-nav > li > a.btn-gold[disabled].active,
fieldset[disabled] .navbar-ws .navbar-nav > li > a.btn-gold,
fieldset[disabled] .navbar-ws .navbar-nav > li > a.btn-gold:hover,
fieldset[disabled] .navbar-ws .navbar-nav > li > a.btn-gold:focus,
fieldset[disabled] .navbar-ws .navbar-nav > li > a.btn-gold:active,
fieldset[disabled] .navbar-ws .navbar-nav > li > a.btn-gold.active {
  background-color: #ffc627;
  border-color: #ffc627;
}
.navbar-ws .navbar-nav > li > a.btn-gold .badge {
  background-color: #2a2a2a;
  color: #ffc627;
}
.navbar-ws .navbar-nav > li > a.btn-gold:hover,
.navbar-ws .navbar-nav > li > a.btn-gold:focus,
.navbar-ws .navbar-nav > li > a.btn-gold:active,
.navbar-ws .navbar-nav > li > a.btn-gold.active {
  background-color: #c69304;
  border-color: #c69304;
  color: #2a2a2a;
}

.navbar-ws .navbar-nav > li > a.btn.navbar-btn {
  margin: 8px 0;
}

@media(max-width: 991px) {
  .navbar-ws .navbar-nav > li > a.btn.navbar-btn {
    width: 150px;
  }
}



.page-view.dl-horizontal dl .altrow  {
  background: transparent url('/img/site/gray_transparent_tile.png') repeat;
}

.page-view.dl-horizontal dt {
  overflow: visible;
  text-overflow: clip;
  white-space: normal;
}

.page-view.dl-horizontal dd {
}

.page-view.dl-horizontal dt,
.page-view.dl-horizontal dd {
  margin-bottom: 5px;
  padding-left: 5px;
  padding-right: 5px;
}


.table-responsive td.view-label {
  font-weight: bold;
}

.my-projects ul {
  padding-left: 0;
}
.container.my-projects ul li {
  border: 0;
  color: #903;
  font-weight: 400;
  list-style: none;
  padding: 10px 0;
}

.datepicker.dropdown-menu {
  font-size: .8rem;
}

@media(max-width: 991px) {
  .navbar-ws .navbar-nav > li > a.btn.navbar-btn {
    width: 150px;
  }
}



/* Override SimpleMDE styling */

.grid-form .CodeMirror {
  background: inherit;
  font-family: inherit;
  height: inherit;
  color: inherit;
  min-height: 200px;
}

.grid-form .editor-toolbar {
    padding: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}

.grid-form input[type="file"] {
  margin-bottom: 10px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}


/*
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
/*
@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  .table-responsive table.table,
  .table-responsive table.table thead,
  .table-responsive table.table tbody,
  .table-responsive table.table th,
  .table-responsive table.table td,
  .table-responsive table.table tr {
    display: block;
  }

  .table-responsive table.table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .table-responsive table.table tr { border: 1px solid #ccc; }

  .table-responsive table.table td {
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 25%;
  }

  .table-responsive table.table td.text-center {
    text-align: left;
  }

  .table-responsive table.table td:before {
    font-weight: bold;
    position: absolute;
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  td:before { content: attr(data-title); }
}
*/

.toolbar-pf .form-group.toolbar-pf-filter-dropdown {
  padding-left: 0;
}

.toolbar-pf-results .toolbar-pf-filter-label {
  font-size: .9rem;
}

.toolbar-pf .toolbar-pf-results .label {
  font-size: .7rem;
  margin-right: 5px;
}

.toolbar-pf .form-group.toolbar-pf-open-right {
  border-right: 0;
}

.toolbar-pf .form-group.toolbar-pf-view-selector.toolbar-pf-search {
  border-right: 0;
  float: right;
  padding-right: 0;
}

.icon-column .fa,
.icon-legend .fa {
  margin-right: .5rem;
}

.fa-maroon {
  color: #8c1d40;
}
.fa-brick-red {
  color: #d23153;
}
.fa-blue {
  color: #00a3e0;
}
.fa-blue-darkened {
  color: #010598;
}
.fa-green {
  color: #78be20;
}
.fa-green-darkened {
  color: #168026;
}
.fa-orange {
  color: #ff7f32;
}
.fa-gold {
  color: #ffc627;
}
.fa-gold-darkened {
  color: #c69304;
}
.fa-abbey {
  color: #4f5557;
}

.navbar-pf-vertical .nav .nav-item-iconic .pficon.fa.fa-gold {
  color: #ffc627;
}



.toolbar-pf .form-group.toolbar-pf-filters {
  border-right: 0;
}

.toolbar-pf .toolbar-pf-clear-filter {
  float: left;
  padding-left: 15px;
}


/* Patternfly Overrides */
#content .toolbar-pf .form-group .btn-link:active,
#content .toolbar-pf .form-group .btn-link:focus,
#content .toolbar-pf .form-group .btn-link:hover {
  color: #fff;
}

#content .toolbar-pf-actions .toolbar-pf-view-selector .active a {
  color: #fff;
}
#content .toolbar-pf-actions .toolbar-pf-view-selector a {
  color: #fff;
}
#content .toolbar-pf-actions .toolbar-pf-view-selector a:hover {
  color: #fff;
}

#content .toolbar-pf .form-group .btn + .btn, .toolbar-pf .form-group .btn + .btn-group, .toolbar-pf .form-group .btn-group + .btn, .toolbar-pf .form-group .btn-group + .btn-group {
  margin-left: inherit;
}

.navbar-pf-vertical {
  background-color: inherit;
  border-top: 0;
}

.navbar-pf-vertical .nav .drawer-pf-trigger .drawer-pf-trigger-icon {
  border-left: 0;
  border-right: 0;
}


.drawer-pf {
  font-size: .75rem;
}


.drawer-pf-title h3 {
    font-size: .8rem;
    margin: 0;
    padding: 6px 15px;
}

.panel-group .panel-title {
    font-weight: 500;
    line-height: 1;
}
.panel-title {
    font-weight: 700;
}
.panel-title {
    margin-top: 0;
    font-size: .9rem;
}

.drawer-pf a {
  border-bottom: 0;
}

.drawer-pf .btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 600;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.navbar-pf-vertical .drawer-pf {
  height: calc(100vh - 200px);
  top: 58px;
}

.drawer-pf-title {
    background-color: #fafafa;
    border-bottom: 1px solid #d1d1d1;
    position: absolute;
    width: 318px;
}

[class^="pficon-"],
[class*=" pficon-"] {
  display: inline-block;
  /* font-family: 'PatternFlyIcons-webfont'; */
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  speak: none;
  text-transform: none;
  /* Better Font Rendering =========== */
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}


/*
.pficon .fa-times-circle-o:before {
    color: #c00;
    content: "\f05c";
}

.pficon .fa-exclamation-triangle:before {
    color: #ec7a08;
    content: "\f071";
}
*/


/* * * * * * * * * * *
    FORM LAYOUT
* * * * * * * * * * */
div.grid-form {
  padding-left: 0;
  padding-right: 0;
}

.grid-form div.checkbox {
  margin: 0 0 0 20px;
}

.grid-form fieldset {
  border-right: 1px solid #ddd;
  padding: 0;
  margin: 0;
  border-top: 1px solid #ddd;
  display: flex;
  flex-wrap: wrap;
}

.grid-form fieldset:after {
  content: " ";
  display: table;
  clear: both;
}

.grid-form .form-group {
  display: block;
  box-sizing: border-box;
  padding: 15px 10px 15px 10px;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin-bottom: 0;
}

.grid-form .form-group:hover,
.grid-form .form-group.focus {
  background-color: #f3f3f3;
}

.grid-form div.legend {
  background-color: #5c6670;
  color: #fff;
  font-size: 1rem;
  font-weight: bold;
  display: block;
  box-sizing: border-box;
  margin-bottom: 0;
  padding: 15px 10px 15px 10px;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  width: 100%;
}

.form-row:before,
.form-row:after {
  display: table;
  content: " ";
}

.grid-form .form-row {
  clear: left;
}

.grid-form .form-actions {
  border: 0;
  margin-top: 15px;
}

.grid-form .form-actions,
.grid-form .form-actions:hover,
.grid-form .empty:hover {
  background-color: transparent;
}

.form-vertical .form-group {
  width: 100%;
}

/* * * * * * * * * * *
    FORM ELEMENTS
* * * * * * * * * * */
.grid-form label {
  font-weight: normal;
  width: 100%;
  /*margin-bottom: 15px;
  margin-top: 15px;
  text-transform: uppercase; */
}

.grid-form .radio label,
.grid-form .checkbox label {
  font-size: .875rem;
  font-weight: 400;
  text-transform: none;
}

.grid-form .fa {
  font-size: 1rem;
  padding-right: 10px;
}

.grid-form input,
.grid-form textarea {
  border: 1px solid transparent;
  background-color: transparent;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 5px;
}

.grid-form input.btn {
  color: #fff;
  background-color: #8c1d40;
  border-color: #8c1d40;
}

.grid-form input[type="text"],
.grid-form input[type="password"],
.grid-form textarea,
.grid-form select {
  width: 100%;
  outline: none;
  box-shadow: none;
  -webkit-box-shadow: 0;
}

.grid-form input.date {
  width: 90%;
}



.grid-form input[type="text"],
.grid-form input[type="password"],
.grid-form select {
  height: 32px;
}

.grid-form select {
  /*margin-top: 15px;*/
}


.grid-form input[type="text"]:focus,
.grid-form input[type="password"]:focus,
.grid-form textarea:focus {
  border-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  outline: none;
}

.grid-form .validation {
  color: red;
  margin-left: 1em;
}


/* * * * * * * * * * *
    CHECKBOXES AND RADIO BUTTONS
    We assume any nested OL will be used only for checkboxes or radio buttons
* * * * * * * * * * */

.grid-form .input.checkbox {
  margin-bottom: 5px;
}

.grid-form div.input.checkbox label {
  text-transform: initial;
  /* Make only the text the click target area, and pad a little on the right. */
  display: inline-block;
  width: auto;
  padding-right: 10px;
}

.grid-form input[type="checkbox"],
.grid-form input[type="radio"] {
  display: inherit;
  margin-right: 5px;
  position: absolute;
  margin-top: 3px;
}

.horizontal-collection .form-group {
  display: inline-block;
  margin-right: 0.75rem;
}

/* * * * * * * * * * *
    GRID
* * * * * * * * * * */
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
.form-actions .btn,
.btn-xs-block .btn,
.btn-xs-block.btn {
  width: 100%;
}

.btn-xs-inline .btn,
.btn-xs-inline.btn {
  width: auto;
}

/* SMALL devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .btn-sm-inline .btn,
  .btn-sm-inline.btn {
    width: auto;
  }

  .btn-sm-block .btn,
  .btn-sm-block.btn {
    width: 100%;
  }
}
/* MEDIUM devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .btn-md-inline .btn,
  .btn-md-inline.btn {
    width: auto;
  }

  .btn-md-block .btn,
  .btn-md-block.btn {
    width: 100%;
  }
}
/* LARGE devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  .btn-lg-block .btn,
  .btn-lg-block.btn {
    width: 100%;
  }

  .btn-lg-inline .btn,
  .btn.btn-lg-inline {
    width: auto;
  }
}
