{# There's too much logic in here for my taste. Would be nice to refactor this a bit. Into a View Helper maybe? #}
<div class="container-fluid">
	<div class="row toolbar-pf">
		<div class="col-sm-12">
			{# Form: toolbar-pf-action navbar-form #}
			<div class="form-group toolbar-pf-filter-dropdown">
				<div class="dropdown btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><?php echo 'Filters'; ?> <span class="caret"></span></button>
					<ul class="dropdown-menu">
						{# Dropdown Filters #}
					</ul>
				</div>
			</div>

			<div class="form-group">
				<div class="dropdown btn-group">
					<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Sorting: {{ sortOptions[sort] }} <span class="caret"></span></button>
					<ul class="dropdown-menu">
						{# Sorting Dropdown #}
					</ul>
				</div>
				{# Sort Direction Button #}
			</div>

			<div class="form-group toolbar-pf-view-selector toolbar-pf-search">
				{# Search Form #}
			</div>
      {# Add Button #}
			</div>
      {# EndForm navbar-form #}
			<div class="row toolbar-pf-results">
				<div class="col-sm-12">
					<div class="form-group toolbar-pf-view-selector">
						<h5>{{ result_count }} Result{% if result_count !== 1 %}s{% endif %}</h5>
					</div>
					<div class="form-group toolbar-pf-filters toolbar-pf-open-right">
						<span class="toolbar-pf-filter-label">Active filters:</span>
						<ul class="list-inline">
              {# Active Filters #}
						</ul>
					</div>
					<div class="toolbar-pf-clear-filter">
					<p>{# Reset Filters Button #}</p>
					</div>
				</div><!-- /col -->
			</div><!-- /row -->
		</div><!-- /col -->
	</div><!-- /row -->
</div><!-- /container -->
