	<div class="footer">
		<div class="big-foot">
			<div class="container">
				<div class="row">
					<div class="col-md-4 col-sm-12 space-bot-md">
						<h2>Sustainability Connect</h2>
						<address>
							a Unit of: <br/>
							<a href="https://sustainability.asu.edu">Julie Ann Wrigley Global Institute of Sustainability</a><br/><br/>
						</address>
						<p><a class="contact-link" href="/about/contact-us/" id="contact-us-link-in-footer">Contact Us</a></p>
						<ul class="social-media">
							<li><a href="https://www.facebook.com/asusustainabilityconnect/" title="Facebook" id="facebook-link-in-footer"><i class="fa fa-facebook-square"></i><span class="sr-only">Facebook</span></a></li>
							<li><a href="https://twitter.com/ASUSustConnect" title="Twitter" id="twitter-link-in-footer"><i class="fa fa-twitter-square"></i><span class="sr-only">Twitter</span></a></li>
						 </ul>
					</div>
					<ul id="menu-footer-menu" class="menu">
						<div class="col-md-2 col-sm-3 space-bot-md">
							<h2 data-toggle="collapse" data-target="#menu-item-98-nav" >Browse  <span class="caret hidden-sm hidden-md hidden-lg"></span></h2>
							<ul class='big-foot-nav collapse' id='menu-item-98-nav'>
								<ul class="sub-menu">
									<li id="menu-item-102" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/projects" id="nav-item_102_under_98">Projects</a></li>
									<li id="menu-item-103" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/internships" id="nav-item_103_under_98">Internships</a></li>
								</ul>
							</ul>
						</div>
						<div class="col-md-2 col-sm-3 space-bot-md">
							<h2 data-toggle="collapse" data-target="#menu-item-100-nav" >Get Involved  <span class="caret hidden-sm hidden-md hidden-lg"></span></h2>
							<ul class='big-foot-nav collapse' id='menu-item-100-nav'>
								<ul class="sub-menu">
									<li id="menu-item-133" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/connect/submit-your-idea/" id="nav-item_133_under_135">Submit Your Idea</a></li>
									<li id="menu-item-106" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about/types-of-opportunities/" id="nav-item_106_under_99">Types of Opportunities</a></li>
									<li id="menu-item-109" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about/faq/" id="nav-item_109_under_100">FAQ</a></li>
								</ul>
							</ul>
						</div>
						<div class="col-md-2 col-sm-3 space-bot-md">
							<h2 data-toggle="collapse" data-target="#menu-item-99-nav" >About  <span class="caret hidden-sm hidden-md hidden-lg"></span></h2>
							<ul class='big-foot-nav collapse' id='menu-item-99-nav'>
								<ul class="sub-menu">
									<li id="menu-item-104" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about/" id="nav-item_about-us_under_99">About Us</a></li>
									<li id="menu-item-108" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about/contact-us/" id="nav-item_108_under_99">Contact Us</a></li>
									<li id="menu-item-107" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about/programs-partners/" id="nav-item_107_under_99">Programs &#038; Partners</a></li>
									<li id="menu-item-105" class="menu-item menu-item-type-post_type menu-item-object-page"><a href="/about/why-work-with-us/" id="nav-item_105_under_99">Why Work With Us</a></li>
								</ul>
							</ul>
						</div>
					</ul>
				</div><!-- /.row -->
			</div><!-- /.container -->
			<div class="container">
				<div class="row">
					<div class="col-md-12"></div>
				</div>
			</div>
		</div><!-- /.big-foot -->
		<div id="innovation-bar">
			<div class="container">
				<div class="row">
					<div class="col-md-10 space-top-sm space-bot-sm">
						<a href="http://yourfuture.asu.edu/rankings" target="_blank" id="asu-is-number-1-for-innovation">ASU is #1 in the U.S. for Innovation</a>
					</div>
					<div class="hidden-sm hidden-xs col-md-2 innovation-footer-image-wrapper">
						<a href="http://yourfuture.asu.edu/rankings" target="_blank" id="best-colleges-us-news-bage-icon">
							<img src="/wp-content/themes/ASU-Web-Standards-Wordpress-Theme/assets/asu-web-standards/img/footer/best-colleges-us-news-badge.png" alt="Best Colleges U.S. News Most Innovative 2016">
						</a>
					</div>
				</div>
			</div>
		</div><!-- /#innovation-bar -->
		<div class="little-foot">
			<div class="container">
				<div class="row">
					<div class="col-md-12">
						<div class="little-foot__right">
							<ul class="little-foot-nav">
								<li><a href="http://www.asu.edu/copyright/" id="copyright-trademark-legal-footer">Copyright &amp; Trademark</a></li>
								<li><a href="http://www.asu.edu/accessibility/" id="accessibility-legal-footer">Accessibility</a></li>
								<li><a href="http://www.asu.edu/privacy/" id="privacy-legal-footer">Privacy</a></li>
								<li><a href="http://www.asu.edu/asujobs" id="jobs-legal-footer">Jobs</a></li>
								<li><a href="https://cfo.asu.edu/emergency" id="emergency-legal-footer">Emergency</a></li>
								<li><a href="https://contact.asu.edu/" id="contact-asu-legal-footer">Contact ASU</a></li>
							</ul>
						</div>
					</div>
				</div><!-- /.row -->
			</div><!-- /.container -->
		</div><!-- /.little-foot -->
	</div><!-- /.footer -->
	<!-- End Footer -->
