
	<nav class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-right navbar-iconic">
			<li class="drawer-pf-trigger dropdown">
				<a class="nav-item-iconic drawer-pf-trigger-icon faa-parent animated-hover">
					{% if notifications_count == 0 %}
						<span class="pficon fa fa-bell-o" title="Notifications"></span>
					{% else %}
						<span class="pficon fa fa-bell faa-ring fa-gold" title="Notifications"></span>
          {% endif %}
					<!-- When all notifications read, the icon should be fa-bell-o -->
				</a>
			</li>
		</ul>
		<div class="drawer-pf drawer-pf-notifications-non-clickable hide">
			<div class="drawer-pf-title">
				<h3 class="text-center">Notifications Drawer</h3>
			</div>
			<div class="panel-group" id="notification-drawer-accordion" style="overflow-y: hidden;">
				<div class="panel panel-default">
					<div class="panel-heading" data-component="collapse-heading">
						<h4 class="panel-title">
							<a data-toggle="collapse" data-parent="#notification-drawer-accordion" href="#notifications"{% if notifications_count == 0 %} aria-expanded="false" class="collapsed"{% endif %}>Notifications</a>
						</h4>
						<span class="panel-counter">{{ notifications_count }} New Events</span>
					</div>
					<div id="notifications" {% if notifications_count == 0 %} class="panel-collapse collapse" aria-expanded="false"{% else %} class="panel-collapse collapse in"{% endif %}>
						<div class="panel-body" style="max-height: 141px; overflow-y: auto;">

              {% for alert in notifications %}
							<div class="drawer-pf-notification unread">
								<div class="pull-right">
									<a class="drawer-pf-mark-read btn btn-link" href="/connect/notifications/mark_read/{{ alert['Notification']['id'] }}">
										<span class="pficon fa fa-times-circle-o"></span>
									</a>
								</div>
								<span class="pficon fa fa-info-circle pull-left"></span>
								<span class="drawer-pf-notification-message">
  								{# notification.title #}
								</span>
								<div class="drawer-pf-notification-info">
									<span>
                    {# notification.description #}
									</span>
									<span class="date">{# notification.time #}</span>
								</div>
							</div>
							{% endfor %}

						</div>
						<div class="drawer-pf-action">
							<a href="/connect/notifications/mark_all_read" class="drawer-pf-mark-all-read btn btn-link btn-block">Mark All Read</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</nav>
{# notification script #}
